main {
  padding: 36px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.form--input {
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #4b2a3c 1.14%, #e17299 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme {
  position: relative;
  text-align: center;
}

.meme--image {
  max-width: 100%;
  border-radius: 5px;
  max-height: 70vh;
}

.meme--text {
  position: absolute;
  width: 80%;
  color: black;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2px;
  word-break: break-all;
}

.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
